In [2]:
import pandas as pd
import numpy as np

In [3]:
s = pd.Series([1,2,3,4])
print(s[2])
print(s)

3
0    1
1    2
2    3
3    4
dtype: int64

In [4]:
data = np.array([19,2,36,44,23,1])
s = pd.Series(data)
print(s)

0    19
1     2
2    36
3    44
4    23
5     1
dtype: int32

In [6]:
s = pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
s

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [8]:
data = {'name':['tom','dom','sam'],'age':[13,14,12]}
df = pd.DataFrame(data)
df

  name  age
0  tom   13
1  dom   14
2  sam   12

In [9]:
data = {'name':['tom','dom','sam'],'age':[13,14,12]}
df = pd.DataFrame(data,index = ['ek','dho','theen'])
df

      name  age
ek     tom   13
dho    dom   14
theen  sam   12

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, ek to theen
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    3 non-null      object
 1   age     3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 72.0+ bytes