# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [1]:
# code
import pandas as pd
import numpy as np

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [5]:
# code
first = pd.Series(np.random.randint(1,5,100))
second = pd.Series(np.random.randint(1,4,100))
third = pd.Series(np.random.randint(10000,30000,100))

### Step 3. Let's create a DataFrame by joinning the Series by column

In [6]:
# code
data = pd.concat([first,second,third],axis=1)
data.head()

   0  1      2
0  1  3  29835
1  4  1  11998
2  4  3  14971
3  3  1  23814
4  2  2  23033

### Step 4. Change the name of the columns to bedrooms, bathrooms, price_sqr_meter

In [7]:
# code
data.columns = ['bedrs','bathrs','price_sqr_meter']

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [11]:
# code
bigcolumn = pd.concat([first,second,third],axis=0)

### Step 6. Oops, it seems it is going only until index 99. Is it true?

In [12]:
# code
len(bigcolumn)

300

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [14]:
# code
bigcolumn.reset_index(drop=True, inplace=True)